<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <connectionStrings>
    <add name="AccessFileName" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=NewNationalDatabaseTemplate.accdb; Persist Security Info=False;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="HelpFile" value="/View/Help/help.chm" />
    <add key="TutorialFile" value="/View/Help/tutorial.pptx" />
    <!-- add key="SupportedLanguages" value="en-US;English|fr-FR;français" /-->
    <add key="SupportedLanguages" value="en-US;English|fr-FR;français" />
    <add key="CountryId" value="1" />
    <add key="DeveloperMode" value="QA" />
    <add key="MaxLevelsAllowed" value="7" />
    <add key="SkipStartDemoYear" value="2013" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WhoUrl" value="http://apps.who.int/neglected_diseases/ntddata/ntd_database/" />
    <add key="QaUrl" value="http://nadaqa.ericdidit.com/" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="mylogin.aspx" defaultUrl="Login.aspx" />
    </authentication>
    <membership defaultProvider="AccessMembershipProvider">
      <providers>
        <clear />
        <add name="AccessMembershipProvider" type="Samples.AccessProviders.AccessMembershipProvider, SampleAccessProviders" connectionStringName="AccessFileName" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" applicationName="NadaNtd" hashAlgorithmType="SHA1" passwordFormat="Hashed" />
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" 
                 cookieProtection="All" defaultProvider="AccessRoleProvider">
      <providers>
        <add name="AccessRoleProvider" type="Samples.AccessProviders.AccessRoleProvider, SampleAccessProviders" connectionStringName="AccessFileName" applicationName="NadaNtd" />
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="AccessProfileProvider">
      <providers>
        <add name="AccessProfileProvider" type="Samples.AccessProviders.AccessProfileProvider, SampleAccessProviders" connectionStringName="AccessFileName" applicationName="NadaNtd" description="Stores and retrieves profile data from an Nada.DA database." />
      </providers>
      <properties>
        <add name="FriendlyName" type="string" allowAnonymous="true" serializeAs="String" />
        <add name="Height" type="int" allowAnonymous="true" serializeAs="String" />
        <add name="Weight" type="int" allowAnonymous="true" serializeAs="Xml" />
      </properties>
    </profile>
    <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain="" />
    <webParts>
      <personalization defaultProvider="AccessPersonalizationProvider">
        <providers>
          <add name="AccessPersonalizationProvider" type="Samples.AccessProviders.AccessPersonalizationProvider, SampleAccessProviders" connectionStringName="AccessFileName" applicationName="NadaNtd" />
        </providers>
      </personalization>
    </webParts>
    <!--
		<trust level="Medium"/>
        -->
    <compilation debug="true" />
  </system.web>
  
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="NationalDatabaseLog.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>